* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Georgia',serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

.overlay-content {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.welcome-box {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; /* Spacing between welcome boxes */
}

#admin-button, #student-button {
    margin: 10px;
    width: 200px; /* Fixed width for the buttons */
}


header {
    background-color: #00796b;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh; /* Adjust based on your design */
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #004d40;
    transform: scale(1.05);
}

footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    #container {
        height: auto; /* Let the content define the height */
    }
}
    
    button {
        width: 100%; /* Full-width buttons on smaller screens */
        padding: 12px;
    }
